<!DOCTYPE html>
<%- include ../partials/header.ejs %>

<div class="matt">
    <div class="alex">
        <h2><%=userOnTheTemplate.username%>'s Recipes</h2><br/>
    </div>

    <div class="flex-container">
        <div class="profileItems">
            <h3>Location: <span><%=userOnTheTemplate.location%></span></h3>
            <h3>Interests: <span><%=userOnTheTemplate.interests%></span></h3>
            <h3>Favorite Dish:<span><%=userOnTheTemplate.favoriteDish%></span></h3>
        </div>
    </div>

    

    <div class="flex-container">
        <%userOnTheTemplate.recipes.forEach((recipes) => {%>
        <div class="card" style="width: 15rem;">
            <img src="<%=recipes.img%>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= recipes.title %></h5>
                <a href="/recipes/<%=recipes._id%>" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    <%})%>
    </div>

    <div class="mattidedit edit-flex">
        <%if(logged === true && userOnTheTemplate._id.toString() === sessionId.toString()){%>
            
            <div ><a href = "/users/<%=userOnTheTemplate._id%>/edit" class="btn btn-primary">Edit User Info</a></div>
            
        <%}%>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
</html>

