<!DOCTYPE html>
<%- include ../partials/header.ejs %>

<div class = "alex">
    <div class = "content">
    <h2><%=recipeOnTheTemplate.title%></h2><br/>
    <img src="<%=recipeOnTheTemplate.img%>"><br/><br/>
    <h4>Ingredients:</h4>
    <p><%=recipeOnTheTemplate.ingredients%></p><br/>
    <h4>Directions:</h4>
    <p><%=recipeOnTheTemplate.body%></p><br/>
    <a href="/users/<%=user._id%>"><small>by: <%=recipeOnTheTemplate.user%></small></a><br/>
    <div class = "editButtons">
    <% if(logged === true && user._id.toString() === sessionId.toString()){%>
        <form action="/recipes/<%=recipeOnTheTemplate._id%>/edit" method="GET">
            <button id = "editButton" type="submit">Edit</button>
        </form>
        <form action="/recipes/<%=recipeOnTheTemplate._id%>?_method=DELETE" method="POST">
            <button id = "deleteButton" type="submit">Delete</button>
        </form>
    <%}%>
    </div>
    <h3 class = "comments">Comments:</h3><br/>
    <div class = "commentBox">
    <form action="/recipes/<%=recipeOnTheTemplate._id%>" method = "POST">
        <textarea class="postComment"  rows="10" cols="100" name = "body" type = "text" class="form-control" id="exampleInputPassword1"></textarea>
        <button id = "addCommentButton" class = ".btn-primary" type="submit">Add Comment</button>
    </form>
    </div>
    <div class="flex-container comment-body">
    <%commentsOnTheTemplate.forEach((comment) => {%>
    <div class="comments-section">
    <p><%=comment.body%> | by: <%=comment.username%></p><br/>
    <p><%=comment.date%></p>
    </div>
    <form action = "/recipes/<%=recipeOnTheTemplate._id%>/<%=comment._id%>?_method=DELETE" method = "POST">
        <%if(username === user.username || comment.username === username){%>
        <div>
        <button class = ".btn-primary deleteComment" type="submit">X</button>
        </div>
        <%}%>
    </form>
    <%})%>
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>